<div class="modal fade" id="newStarter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Submit Question</h4>
			</div>
			<div class="modal-body">
				<h4>Your Info</h4>
				<%= form_for :questions, url: '/questions', html: { class: 'form-horizontal'} do %>
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="inputQuestion" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-9">
								<input name="question[name]" class="form-control" id="inputQuestion" placeholder="Your Full Name" required>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input name="question[email]" type="email" value="<%= current_user_email %>" class="form-control" id="inputEmail" placeholder="Email" required>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<h4>Starter Info</h4>
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="inputQuestion" class="col-sm-3 control-label">Name</label>
							<div class="col-sm-9">
								<input name="question[starterName]" class="form-control" id="inputQuestion" placeholder="Something Creative" required>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 control-label">Age</label>
							<div class="col-sm-10">
								<input name="question[starterAge]" class="form-control" id="inputEmail" placeholder="Email" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="form-group">
							<label for="inputQuestion" class="col-sm-3 control-label">Location</label>
							<div class="col-sm-9">
								<input name="question[location]" class="form-control" id="inputQuestion" placeholder="Starter origin location" required>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="form-group">
							<label for="inputQuestion" class="col-sm-1 control-label">Info</label>
							<div class="col-sm-11">
								<textarea name="question[body]" class="form-control" id="inputQuestion" placeholder="Describe the culture to the fullest!" required></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="submitStarter" type="submit" class="btn btn-success">Submit Starter</button>
			</div>
			<% end %>
		</div>
	</div>
</div>